* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Outfit", sans-serif;
  background-color: #d5e1ef;
}

.container {
  display: flex 1;
  width: 300px;
  height: 450px;
  background-color: #fff;
  /* justify-content: center; */
  align-items: center;
  border-radius: 20px;
  text-align: center;
  /* margin-top: 200px; */
  margin: 200px;
}

.container__img {
  display: flex;
  /* border-radius: 10px; */
  justify-content: center;
  align-items: center;
  margin: 15px 15px;
}

.container__text {
  margin: 0 15px;
  /* word-spacing: 3px; */
  /* letter-spacing: 0.5px; */
}
img {
  border-radius: 10px;
  width: 100%;
}
h1 {
  font-size: 1.3rem;
  padding: 10px;
  color: #373e50;
}

p {
  font-size: 0.8rem;
  margin: 0 25px;
  color: #babdc2;
  /* justify-content: center; */
  text-align: center;
}
